.playerCard {
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    width:200px;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

